.sign__login {
  padding-top: 20px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.21;
  color: #fff;
  transition: opacity 0.1s;
}

.sign__login:hover {
  opacity: 0.6;
}

@media screen and (min-width: 698px) {
  .sign__login {
    padding-top: 20px;
  }
}
