.logo {
    width: 103.74px;
    height: 24.4px;
    opacity: 1;
}

.logo:hover {
    opacity: .7;
}

@media screen and (min-width: 698px) {
    .logo {
        width: 142px;
        height: 33px;
    }
}